<div class="container p-5">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card mt-5">
                <div class="card-body">
                    <p class="card-text">El The Charlee Hotel presenta una decoración de estilo retro con
                        toques
                        modernos que ayuda a crear un ambiente de diseño de alto nivel. Algunas
                        habitaciones constan de balcón amplio con parrilla teppanyaki privada de
                        excelente calidad. También hay balcones dotados de bañera de hidromasaje
                        con vistas panorámicas a Medellín, en consonancia con la calidad propia de
                        un hotel de 5 estrellas.</p>
                </div>
                <img src="../../assets/img/habitacion3.2.png" class="card-img-bottom" alt="...">
            </div>
            <div class="card mt-5">
                <div class="card-body">
                    <p class="card-text">Este hotel glamuroso alberga una piscina en la azotea y una discoteca de
                        diseño, ofrece habitaciones con vistas panorámicas a la ciudad y cuenta con exposiciones de arte
                        y sesiones de masaje. Además, hay WiFi gratuita y gimnasio con baño de vapor.</p>
                </div>
                <img src="../../assets/img/habitacion4.2.png" class="card-img-bottom" alt="...">
            </div>
            <div class="card mt-5">
                <div class="card-body">
                    <p class="card-text">Todas las habitaciones están equipadas con muebles y lámparas de araña de
                        inspiración vintage. Además, disponen de TV de pantalla plana, minibar y aire acondicionado. Se
                        proporciona servicio de habitaciones.
                    </p>
                </div>
                <img src="../../assets/img/habitacion1.png" class="card-img-bottom" alt="...">
            </div>
        </div>
        <h2>Servicios de The Charlee Hotel</h2>
        <div class="card-group mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Actividades</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bi bi-check">Eventos deportivos en directo (emisión)</li>
                        <li class="list-group-item bi bi-check">Música / espectáculos en directo</li>
                        <li class="list-group-item bi bi-check">Discoteca / DJ </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Baño</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bi bi-check">Papel higiénico</li>
                        <li class="list-group-item bi bi-check">Toallas</li>
                        <li class="list-group-item bi bi-check">Toallas / sábanas</li>
                        <li class="list-group-item bi bi-check">Artículos de aseo gratis</li>
                        <li class="list-group-item bi bi-check">Ducha</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comida y bebida</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bi bi-check">Fruta</li>
                        <li class="list-group-item bi bi-check">Vino / champán </li>
                        <li class="list-group-item bi bi-check">Snack-bar</li>
                        <li class="list-group-item bi bi-check">Desayuno en la habitación</li>
                        <li class="list-group-item bi bi-check">Bar</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Habitación</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bi bi-check">Armario</li>
                        <li class="list-group-item bi bi-check">Reloj despertador</li>
                        <li class="list-group-item bi bi-check">Discoteca / DJ </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>